@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    height: 100%;
    color: var(--cor-secundaria);
}

.curriculo {
    padding: 5% 15%;
    font-family: var(--fonte-secundaria);
    font-size: 1.25rem;
}

.curriculo__conteudo {
    display: flex;
    justify-content: space-between;
}

.curriculo__conteudo__blocos {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.conteudo__informacao {
    border: 2px solid var(--cor-terciaria);
    border-radius: 0px 30px 0px 30px;
    padding: 35px;
    width: 361px;
}

.data{
    font-weight: bold;
    font-size: 1rem;
}

.texto__explicacao{
    font-size: 1rem;
}

span{
    color: #22D4FD;
}